<h1>Checking out List</h1>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>
 
<p>
  <strong>Url:</strong>
  <%= @list.url %>
</p>

<p>
  <strong>Created:</strong>
  <%= @list.created_at %>
</p>

<p>
  <strong>Modified:</strong>
  <%= @list.updated_at %>
</p>


<%= link_to 'Edit List Name', edit_list_path(@list), :class => "btn btn-info" %>

<h2>This List has the following Tasks</h2>

<table class="table">
  <tr>
    <th>Type</th>
    <th>Description</th>
    <th>State</th>
    <th>Priority</th>
    <th></th>
    <th></th>
  </tr>


  <% @list.tasks.sort.each do |task| %>
    <% if task.should_appear? %>
    <tr>
      <td><%= task.type %></td>
      <td><%= task.description %></td>
      <td><%= task.state %></td>
      <td><%= task.priority %></td>


      <td><%= link_to 'Edit', url_for([:edit, @list, task]) %></td>
      <td><%= link_to 'Destroy', [task.list, task],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  <% end %>
</table>


<h2>Add a new task:</h2>

<%= render 'tasks' %>

<%= link_to 'Back', lists_path, :class => "btn btn-info" %>