<h1>List</h1>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>
 
<p>
  <strong>Url:</strong>
  <%= @list.url %>
</p>

<%= link_to 'Edit List Name', edit_list_path(@list), :class => "btn btn-info" %>

<h2>Tasks</h2>

<table class="table">
  <tr>
    <th>Type</th>
    <th>Description</th>
    <th>State</th>
    <th>Priority</th>
  </tr>


  <% @list.tasks.sort.each do |task| %>

  <tr>
      <td><%= task.type %></td>
      <td><%= task.description %></td>
      <td><%= task.state %></td>
      <td><%= task.priority %></td>
      
      <td><%= link_to 'Edit', [:edit, task.list, task] %></td>
      <td><%= link_to 'Destroy', [task.list, task],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>


<h2>Add a new task:</h2>


<%= link_to 'New Simple Task', new_list_simple_task_path(@list), :class => "btn btn-success" %>

<%= link_to 'New Temporal Task', new_list_temporal_task_path(@list), :class => "btn btn-info" %>

<%= link_to 'New Long Task', new_list_long_task_path(@list), :class => "btn btn-primary" %>


<br><br><br>
<%= link_to 'Back', lists_path, :class => "btn btn-info" %>


